@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    height: 100vh;
}

body{
    background: url(../imagens/pexels-caio-64609.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: black;
    height: 120px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: .8;
}

header > img {
    border-radius: 50%;
}

header > menu#itens {
    display: none;
}

header > span#burguer {
    color: white;
    cursor: pointer;
}

header > menu > ul > li > a {
    color: white;
    text-decoration: none;
}

main{
    background-color: aqua;
    opacity: .5;
    width: 80vw;
    height: 80vh;
    margin: auto;
}