@charset "UTF-8";

*{
    margin: 0;
    padding: 0;    
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100vh;
}



header {
    width: 97vw;
    margin: auto;
    border: 2px solid red;
    padding: 20px;
}

header > div.logo > img {
    height: 100px;
}

header > div.menu {
    text-align: center;
}

header > div.menu > ul {
    list-style-type: none;
}

header > div.menu > ul > li > a {
    text-decoration: none;
}